{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}

    <h1>Liste des entreprises</h1>


    
    <!-- 
        dans le controller, on a cela
        [
            'controller_name' => 'EntrepriseController',
        ]
        
        on se doute que la vue affichera : EntrepriseController
    -->
    {{ controller_name }}<br><br>

    Bonjour {{ name }} !<br><br>

    je teste ma variable : {{ name1 }}<br><br><br><br>

    
    <!-- le mot 'element' est choisi au pif, on peut prendre $bidule si on le souhaite -->
    {% for element in tableau %}
    
        {{ element }}<br>

    {% endfor %}<br>



    enfin j'affiche les vraies informations de l'exercice :<br><br> 
    {% for entreprise in entreprises %}
    
        <!-- $entreprise->getRaisonSociale() : on reprend les noms des entités, pas ceux de la BDD -->
        {{ entreprise.raisonSociale }}<br><br>

    {% endfor %}<br><br>



    Méthode 1 de Mickael : on concatène<br><br>
    {% for entreprise in entreprises %}
    
    
        <b>{{ entreprise.raisonSociale }}</b> {{ ' ('~ entreprise.codePostal ~ ' ' ~ entreprise.ville ~ ')' }}<br><br>
    

    {% endfor %}<br><br>


    Méthode 2 de Michael (plus simple):<br><br>
    {% for entreprise in entreprises %}
    
        <b>{{ entreprise.raisonSociale }}</b> ({{ entreprise.codePostal }} {{ entreprise.ville }})<br><br>

    {% endfor %}<br><br>


    Méthode 3 _toString :<br><br>
    {% for entreprise in entreprises %}
    
        <b>{{ entreprise }}</b> <br><br>

    {% endfor %}<br><br>


    Je ne veux que les entreprises de Strasbourg :<br><br>
    {% for entreprise in entreprises2 %}
    
        <b>{{ entreprise }}</b> <br><br>

    {% endfor %}<br><br>


    Je veux toutes les entreprises en tri DESC et je crée des liens ! :<br><br>
    {% for entreprise in entreprises3 %}
    
        <!-- tant que href est vide, on ne va nulle part, on va le compléter comme suit : 
        path('nom de la méthode qui permet de récupérer le détail d'une entreprise') et aussi l'identifiant de l'entreprise concernée -->
        <a href="{{ path('show_entreprise', {'id' : entreprise.id}) }}">{{ entreprise.raisonSociale }}</a> <br><br>
        <!-- 'id' est bien indiqué tel quel dans l'url, c'est le terme exact de l'url -->

    {% endfor %}<br><br>


{% endblock %}
