{% extends 'base.html.twig' %}

{% block title %}Détail d'un employé{% endblock %}

{% block body %}

    <h1>Détail d'un employé</h1>  

    <h2>{{ employe }}</h2>
   
    <p>
        Ville : {{ employe.ville }}
    </p>
    <p>
        Date de naissance : {{ employe.dateNaissance | date("m-d-Y") }}
    </p>
    <p>
        Date d'embauche : {{ employe.dateEmbauche | date("m-d-Y") }}
    </p>
    <p>
        Employé par : {{ employe.entreprise.raisonSociale }}
    </p>

{% endblock %}
